*
{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body
{
    border-top:50px solid orange;
    font-family: sans-serif;
    background-color:aliceblue;
     border-bottom:50px solid green;
}
.container
{
    width:40%;
    margin-right:auto;
    margin-left:auto;
    background-color:navy;
    border-radius:50px;
}
